@import './globals.css';
@import './slide.css';
@import './page.css';
@import './modal.css';
@import './tooltip.css';
@import './dropdown-menu.css';
@import './menu-mobile.css';
@import './numeros.css';